@import _vars

anims()

	@keyframes a-flip-in
		0%
			transform perspective(1000px) rotateX(180deg)
			transition-timing-function ease-in
		100%
			transform perspective(1000px) rotateX(0)
	.flip-in
		animation-duration 1s
		animation-name a-flip-in
		animation-fill-mode both
		backface-visibility hidden

	@keyframes a-slide-down
		from
			height 0
		to
			height grid-tile-height + padding-base
	.slide-down
		animation a-slide-down 1s

	@keyframes a-marquee
		0%
			text-indent 30em
		100%
			text-indent -50em
	.marquee
		animation a-marquee 10s linear infinite
		overflow hidden
		white-space nowrap
		width 420px
		&:hover
			animation-play-state paused
	@keyframes a-zoom-in
		0%
			opacity 0
			transform scale3d(.3, .3, .3)
		50%
			opacity 1
	.zoom-in
		animation-duration 1s
		animation-fill-mode both
		animation-name a-zoom-in

	.-paused
		animation-play-state paused

	.-running
		animation-play-state running
