@import _vars

anims()

	@keyframes a-flip-in
		0%
			transform perspective(1000px) rotateX(180deg)
			transition-timing-function ease-in
		100%
			transform perspective(1000px) rotateX(0)
	.flip-in
		animation-duration 1s
		animation-name a-flip-in
		animation-fill-mode both
		backface-visibility hidden

	@keyframes a-slide-down
		0%
			height 0
			opacity 0
		50%
			height grid-tile-height + padding-base
			opacity 0
		100%
			opacity 1
	.slide-down
		animation a-slide-down 2s

	@keyframes a-marquee
		0%
			text-indent 30em
			//transform translateX(100%)
		100%
			text-indent -50em
			//transform translateX(-100%)
	.marquee
		animation a-marquee 10s linear infinite
		overflow hidden
		white-space nowrap
		width 100%
		&:hover
			animation-play-state paused
	@keyframes a-zoom-in
		0%
			transform scale(0)
		100%
			transform scale(1)
	.zoom-in
		animation-duration style-duration
		animation-fill-mode both
		animation-name a-zoom-in

	.-paused
		animation-play-state paused

	.-running
		animation-play-state running

	.spinner
		animation rotateplane 1.2s infinite ease-in-out
		background-color #333
		height 30px
		margin 100px auto
		width 30px

	@keyframes rotateplane
		0%
			transform perspective(120px) rotateX(0deg) rotateY(0deg)
		50%
			transform perspective(120px) rotateX(-180.1deg) rotateY(0deg)
		100%
			transform perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
