@import _vars

anims()

	@keyframes a-flip-in
		0%
			transform perspective(1000px) rotateX(180deg)
			transition-timing-function ease-in
		100%
			transform perspective(1000px) rotateX(0)
	.a-flip-in
		animation-duration 1s
		animation-name a-flip-in
		animation-fill-mode both
		backface-visibility hidden

	@keyframes a-slide-down
		from
			height 0
		to
			height grid-tile-height + padding-base
	.a-slide-down
		animation a-slide-down 1s

	@keyframes a-marquee
		0%
			left 0
		100%
			left -100%
	.a-marquee
		animation a-marquee 5s linear infinite
		overflow hidden
		position relative
		width 420px
		div
			display block
			height 100%
			overflow hidden
			position absolute
			width 200%
		span
			float left
			width 50%
		&:hover div
			animation-play-state paused
	@keyframes a-zoom-in
		0%
			opacity 0
			transform scale3d(.3, .3, .3)
		50%
			opacity 1
	.a-zoom-in
		animation-duration 1s
		animation-fill-mode both
		animation-name a-zoom-in
