@import _vars

colors()
	color-backgrounds()
	color-text()

color-backgrounds()
	.background
		background color-background
	.foreground
		background color-foreground

color-text()
	.muted
		color color-muted
	.muted-inverse
		color color-muted-inverse
	a
		color color-link
		&:hover
			color color-link-hover
		&:visited
			color color-link-visited
