@import nib
@import _vars

icons()
	.icon-base, .icon
		size(icon-base)
	.icon-largest
		size(icon-largest)
	.icon-larger
		size(icon-larger)
	.icon-large
		size(icon-large)
	.icon-small
		size(icon-small)
	.icon-smaller
		size(icon-smaller)
	.icon-smallest
		size(icon-smallest)
