@import _vars

layout()
	*
		box-sizing border-box
		margin 0
		padding 0

	[container]
		width page-largest
		@media (max-width page-largest)
			width page-larger
		@media (max-width page-larger)
			width page-smaller
		@media (max-width page-smaller)
			width page-smallest

	[xl-visible]
		@media (max-width page-largest)
			display none !important
	[lg-visible]
		@media (max-width page-smaller)
			display none !important
		@media (min-width page-larger)
			display none !important
	[sm-visible]
		@media (max-width page-smallest)
			display none !important
		@media (min-width page-smaller)
			display none !important
	[xs-visible]
		@media (max-width page-smallest)
			display none !important

	[xl-hidden]
		@media (min-width page-largest)
			display none !important
	[lg-hidden]
		@media (min-width page-larger) and (max-width page-largest)
			display none !important
	[sm-hidden]
		@media (min-width page-smaller) and (max-width page-larger)
			display none !important
	[xs-hidden]
		@media (max-width page-smaller)
			display none !important

	// normal padding
	[pad]
		pad(padding-base)
	[pad-height]
		pad-height(padding-base)
	[pad-width]
		pad-width(padding-base)

	// double padding
	[pad-double]
		pad(padding-double)
	[pad-height-double]
		pad-height(padding-double)
	[pad-width-double]
		pad-width(padding-double)

	// half padding
	[pad-half]
		pad(padding-half)
	[pad-height-half]
		pad-height(padding-half)
	[pad-width-half]
		pad-width(padding-half)

	[pad-zero]
		pad(0)
	[pad-height-zero]
		pad-height(0)
	[pad-width-zero]
		pad-width(0)

	// normal padding
	[space]
		space(padding-base)
	[space-height]
		space-height(padding-base)
	[space-width]
		space-width(padding-base)

	// double padding
	[space-double]
		space(padding-double)
	[space-height-double]
		space-height(padding-double)
	[space-width-double]
		space-width(padding-double)

	// half padding
	[space-half]
		space(padding-half)
	[space-height-half]
		space-height(padding-half)
	[space-width-half]
		space-width(padding-half)

	// half padding
	[space-zero]
		space(0)
	[space-height-zero]
		space-height(0)
	[space-width-zero]
		space-width(0)

	[full]
		height 100%
		width 100%
	[full-width]
		width 100%
	[full-height]
		height 100%

	[layout][horizontal]
	[layout][vertical]
		display flex
	[layout][horizontal][inline]
	[layout][vertical][inline]
		display inline-flex

	[layout][horizontal]
		flex-direction row
	[layout][horizontal][reverse]
		flex-direction row-reverse
	[layout][vertical]
		flex-direction column
	[layout][vertical][reverse]
		flex-direction column-reverse

	[layout][wrap]
		flex-wrap wrap
	[layout][wrap-reverse]
		flex-wrap wrap-reverse

	[flex]
		flex 1
		flex-basis 0.000000001px

	[vertical][layout] > [flex][auto-vertical]
	[vertical][layout]shadow [flex][auto-vertical]
		flex-basis auto

	[flex][auto]
		flex-basis auto

	[flex][none]
		flex none
	[flex][one]
		flex 1
	[flex][two]
		flex 2
	[flex][three]
		flex 3
	[flex][four]
		flex 4
	[flex][five]
		flex 5
	[flex][six]
		flex 6
	[flex][seven]
		flex 7
	[flex][eight]
		flex 8
	[flex][nine]
		flex 9
	[flex][ten]
		flex 10
	[flex][eleven]
		flex 11
	[flex][twelve]
		flex 12

	// alignment in cross axis
	[layout][start]
		align-items flex-start
	[layout][center]
	[layout][center-center]
		align-items center
	[layout][end]
		align-items flex-end

	// alignment in main axis
	[layout][start-justified]
		justify-content flex-start
	[layout][center-justified]
	[layout][center-center]
		justify-content center
	[layout][end-justified]
		justify-content flex-end
	[layout][around-justified]
		justify-content space-around
	[layout][justified]
		justify-content space-between

	// self alignment
	[self-start]
		align-self flex-start
	[self-center]
		align-self center
	[self-end]
		align-self flex-end
	[self-stretch]
		align-self stretch


	[block]
		display block
	/* ie support for hidden */
	[hidden]
		display none !important

	[relative]
		position relative

	[fit]
		position absolute
		top 0
		right 0
		bottom 0
		left 0

	body[fullbleed]
		margin 0
		height 100vh


pad(amount)
	padding amount
pad-width(amount)
	padding-left amount
	padding-right amount
pad-height(amount)
	padding-bottom amount
	padding-top amount

space(amount)
	margin amount
space-width(amount)
	margin-left amount
	margin-right amount
space-height(amount)
	margin-bottom amount
	margin-top amount
