@import _vars

layout()
	*
		box-sizing border-box
		margin 0
		padding 0

	.container
		box-sizing content-box
		margin 0 auto
		width page-largest
		@media (max-width page-largest)
			width page-larger
		@media (max-width page-larger)
			width page-smaller
		@media (max-width page-smaller)
			width page-smallest

	.xl-visible
		@media (max-width page-largest)
			display none !important
	.lg-visible
		@media (max-width page-smaller)
			display none !important
		@media (min-width page-larger)
			display none !important
	.sm-visible
		@media (max-width page-smallest)
			display none !important
		@media (min-width page-smaller)
			display none !important
	.xs-visible
		@media (max-width page-smallest)
			display none !important
	.xl-hidden
		@media (min-width page-largest)
			display none !important
	.lg-hidden
		@media (min-width page-larger) and (max-width page-largest)
			display none !important
	.sm-hidden
		@media (min-width page-smaller) and (max-width page-larger)
			display none !important
	.xs-hidden
		@media (max-width page-smaller)
			display none !important

	// normal padding
	.pad
		pad(padding-base)
	.pad-height
		pad-height(padding-base)
	.pad-width
		pad-width(padding-base)

	// double padding
	.pad-double
		pad(padding-double)
	.pad-height-double
		pad-height(padding-double)
	.pad-width-double
		pad-width(padding-double)

	// half padding
	.pad-half
		pad(padding-half)
	.pad-height-half
		pad-height(padding-half)
	.pad-width-half
		pad-width(padding-half)

	.pad-zero
		pad(0)
	.pad-height-zero
		pad-height(0)
	.pad-width-zero
		pad-width(0)

	// normal padding
	.space
		space(padding-base)
	.space-height
		space-height(padding-base)
	.space-width
		space-width(padding-base)

	// double padding
	.space-double
		space(padding-double)
	.space-height-double
		space-height(padding-double)
	.space-width-double
		space-width(padding-double)

	// half padding
	.space-half
		space(padding-half)
	.space-height-half
		space-height(padding-half)
	.space-width-half
		space-width(padding-half)

	// half padding
	.space-zero
		space(0)
	.space-height-zero
		space-height(0)
	.space-width-zero
		space-width(0)

	.full
		height 100%
		width 100%
	.full-width
		width 100%
	.full-height
		height 100%

	.block
		display block
	.hidden
		display none !important
	.table
		display table
		table-layout fixed
	.table-row
		display table-row
		> *
			display table-cell
	.table-cell
		display table-cell

	.relative
		position relative

	.fit
		position absolute
		top 0
		right 0
		bottom 0
		left 0

	.left
		float left
	.right
		float right
	.none
		float none
	.clear
		clearfix()

	.col-25
		width 25%
	.col-33
		width 33.33%
	.col-50
		width 50%
	.col-66
		width 65.55%
	.col-75
		width 75%

pad(amount)
	padding amount
pad-width(amount)
	padding-left amount
	padding-right amount
pad-height(amount)
	padding-bottom amount
	padding-top amount

space(amount)
	margin amount
space-width(amount)
	margin-left amount
	margin-right amount
space-height(amount)
	margin-bottom amount
	margin-top amount
