@import _vars

polymer()
	//paper-input
		//color gray-lightest
		///deep/
			//.focused-underline
			//.cursor
				//background-color color-brand
			//input
				//color gray-lightest
	core-icon
		&.-largest
			size(icon-largest)
		&.-larger
			size(icon-larger)
		&.-large
			size(icon-large)
		&.-base
			size(icon-base)
		&.-small
			size(icon-small)
		&.-smaller
			size(icon-smaller)
		&.-smallest
			size(icon-smallest)
