@import _vars

style()
	.-radius
		border-radius style-radius
	.-transition, a
		transition all style-duration
	.-border
		border-width style-border
	a
		text-decoration none
		&:hover
			text-decoration underline
