@import nib
@import _vars

tile-header-height = 50px
tile-footer-height = 39px

tiles()

	.tiles
		.col:last-of-type
			&:first-of-type .tile
				left 0
				right auto
			.tile
				left auto
				right 0

		.col .tile-wrapper:last-of-type .tile
			top auto
			bottom 0

	.tile-wrapper
		height box-height
		position relative
		width box-width
		&.-wide
			&, .tile
				width box-width-wide
			.tile.-expanded
				width box-width-wide + box-width + padding-base

	.tile
		background color-foreground
		height box-height
		left 0
		position absolute
		top 0
		transition all duration
		width box-width
		p
			margin-bottom padding-base
		a
			text-decoration none
			&:hover
				text-decoration underline

		&:not(.-favorited) .is-favorited
			display none

		&.-favorited .is-not-favorited
			display none

		&.-expandable
			cursor pointer

		// tile states
		&.-media
			background gray-darkest
			overflow hidden
			tile-type(color-muted)
			position relative
			&:hover:not(.-playing)
				header
					transform translateY(0)
				.marquee
					animation-play-state running
				&:not(.-expanded)
					.tile-text
						transform translateY(0)

			.tile-bottom
				border 0
				color color-muted-inverse
				a
					color gray-lightest
			&.-expanded
				overflow visible
				width box-width * 2 + padding-base
				header
					transform translateY(0)
				footer
					transform translateY(0)
				.tile-text
					transform translateY((tile-footer-height - style-border) * -1)
				.play-arrow
					display none
			header, footer, .tile-text
				background color-muted
				color gray-lightest
				z-index index-3
			header, footer
				position relative
			header
				transform translateY(tile-header-height * -1)
			footer
				border-width 0
				transform translateY(tile-footer-height)
				&:after
					display none
			.play-arrow
				display block
				left 50%
				position absolute
				top 50%
				transform translate(-50%, -50%)
				z-index index-2
			.tile-text
				bottom 0
				height tile-footer-height
				line-height 39px
				left 0
				position absolute
				transform translateY(tile-footer-height)
				width 100%

		&.-original,
		&.-original-video
			&:not(.-playing):hover:after
				content 'Read Article'
				background-color rgba(0, 0, 0, 0.8)
				position absolute
				cursor pointer
				top 0
				left 0
				right 0
				bottom 0
				z-index 2
				text-align center
				line-height 259px
				color #EEE
				font-size 20px
				font-weight bold

		&.-original-video:not(.-playing):hover:after
			content 'Play Video'

		// tile contents
		header
			height tile-header-height
			&, a
				color gray-lightest
				font-size type-base
				font-weight bold
				line-height 100%
			time
				font-size type-small
				font-weight normal
		footer
			border-top style-border solid gray-base
			position relative
			&:after
				background linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%)
				bottom 100%
				content ' '
				display block
				height 100%
				left 0
				margin-bottom style-border
				position absolute
				width 100%
			core-icon
				height 12px
				width 12px

	.tile-avatar
		height tile-header-height
		position relative
		width tile-header-height
		border-right 1px solid #fff
		poster(tile-header-height, tile-header-height)
	// tile-bottom contains both tile-content and tile-footer
	.tile-bottom
		border style-border solid gray-base
		border-top 0
		border-bottom-color gray-dark
	.tile-content
		overflow hidden
	.tile-media
		background gray-darkest center no-repeat
		background-size cover
		margin auto
		max-height 100%
		max-width 100%
		poster(box-height, box-width)

	// colors
	tile-type(color)
		header
			background color
		.tile-bottom a
			color color
		paper-ripple
			color color
	.-facebook
		tile-type(color-facebook)
	.-twitter
		tile-type(color-twitter)
	.-gplus
		tile-type(color-gplus)
	.-linkedin
		tile-type(color-linkedin)
	.-rss
		tile-type(color-rss)
	.-original
		tile-type(color-original)
	.-expanded
		height box-height * 2 + padding-base
		z-index index-3
		.on-expand
			opacity 1
	.-youtube.-expanded
		header, footer, .tile-media img, .tile-text
			display none !important
	.on-expand
		opacity 0
		transition all duration
	.tile-share .dropdown-content
		z-index index-3
	.tile-share .dropdown-content a
		height 30px
