.container
	width gw-largest

pad(amount)
	margin amount
pad-width(amount)
	margin-left amount
	margin-right amount
pad-height(amount)
	margin-bottom amount
	margin-top amount

use-padding()
	[pad]
		pad(padding)
	[pad-double]
		pad(padding * 2)
	[pad-half]
		pad(padding * .5)
	[pad-width]
		pad(padding)
	[pad-height-double]
		pad-height(padding * 2)
	[pad-height-half]
		pad-height(padding * .5)
	[pad-width]
		pad-width(padding)
	[pad-width-half]
		pad-width(padding * .5)
	[pad-width-double]
		pad-width(padding * 2)
