// various style flags
use-gradient = false
use-transforms = false
use-transitions = true
use-arrow = true

// grid heights/widths/gutter
grid-gutter = 8px
padding = grid-gutter
grid-tile-height = 250px
grid-tile-width = 300px
grid-tile-width-wide = 340px

// grid widths
gw-smallest = 364px
gw-smaller = 672px
gw-larger = 972px
gw-largest = 1280px

// style
tile-bg-shade = 0%
arrow-size = 6px
border-radius = 0px
border-width = 1px
transition-duration = 300ms

// colors, grays
color-gray-lightest = rgb(255, 255, 255)
color-gray-lighter = rgb(247, 247, 247)
color-gray-light = rgb(224, 224, 224)
color-gray-base = rgb(204, 204, 204)
color-gray-dark = rgb(170, 170, 170)
//color-gray-dark = rgb(102, 102, 102)
color-gray-darker = rgb(85, 85, 85)
color-gray-darkest = rgb(25, 25, 25)

// colors, content
color-bg-body = color-gray-light
color-bg-content = color-gray-lightest
color-link = rgb(204, 0, 0)
color-link-hover = color-link
color-text = rgb(51, 51, 51)
color-inverse = rgb(255, 255, 255)
color-muted = rgba(0, 0, 0, .5)
color-muted-inverse = rgba(255, 255, 255, .5)
color-selection = linear-gradient(transparent, blue)

// colors, brands
color-default = rgb(255, 255, 255)
color-facebook = rgb(59,89,152)
color-gplus = rgb(179,0,0)
color-linkedin = rgb(76,126,177)
color-rss = rgb(32,32,32)
color-twitter = rgb(0,172,237)

// font-family
ff-base = Roboto, 'Helvetica Neue', Helvetica, sans-serif
ff-head = 'Roboto Condensed', ff-base

// font-weight scale
fw-light = 200
fw-base = 300
fw-bold = 500

// font-size scale
fs-smallest = 8px
fs-smaller = 10px
fs-small = 12px
fs-base = 14px
fs-large = 18px
fs-larger = 24px
fs-largest = 30px

// line-height scale
lh-tightest = 0
lh-tighter = 10px
lh-tight = 15px
lh-base = 20px
lh-loose = 25px
lh-looser = 30px
lh-loosest = 40px

// z-index scale
zi-1 = 100
zi-2 = 200
zi-3 = 300
zi-4 = 300
zi-5 = 300

// icons
icon-size-mini = 16px
icon-size-small = 16px
icon-size-base = 20px
icon-size-large = 80px

// tiles
tile-padding = 10px
tile-header-padding = tile-padding
tile-header-border = 0px
tile-header-height = 60px
tile-avatar-height = tile-header-height
tile-avatar-border = 0px
tile-avatar-width = tile-avatar-height
tile-content-bg = rgba(255, 255, 255, 1)
tile-content-padding = tile-padding * 2
tile-content-border = 1px
tile-content-margin = 0
tile-content-fader-height = 30px
tile-footer-height = 30px
tile-footer-border = border-width
