.icon-base
	height icon-size-base
	width icon-size-base
.icon-mini
	height icon-size-mini
	width icon-size-mini
.icon-small
	height icon-size-small
	width icon-size-small
.icon-large
	height icon-size-large
	width icon-size-large
.icon
	background-position center
	background-size contain
	background-repeat no-repeat
	display inline-block
	@extend .icon-base
.icon-facebook
	background-image url(facebook.svg)
.icon-twitter
.icon-twitter-photo
	background-image url(twitter.svg)
.icon-nio
	background-image url(nio.svg)
.icon-pinned
	background-image url(pinned.svg)
.icon-envelope
	background-image url(envelope.svg)
.icon-youtube
	background-image url(youtube.svg)
.icon-loading
	background-image url(loading.svg)
.icon-gplus
	background-image url(gplus.svg)
.icon-instagram
	background-image url(instagram.svg)
.icon-pinterest
	background-image url(pinterest.svg)
.icon-rss
	background-image url(rss.svg)
.icon-external
	background-image url(external.svg)
.icon-play
	background-image url(play.svg)
.icon-share
	background-image url(share.svg)
