// colors
.u-muted
	color color-muted

// display
.u-block
	display block
.u-inline
	display inline
.u-inline-block
	display inline-block

// block positioning
.u-left
	float left
.u-center
	margin 0 auto
.u-right
	float right

// vertical positioning
.u-center-vertical
	position relative
	top 50%
	transform translateY(-50%)

// inline positioning
.u-left-text
	text-align left
.u-center-text
	text-align center
.u-right-text
	text-align right

// misc
.u-clearfix
	// need it this way so we can extend the class
	&:after
		clear both
		content ' '
		display block
		font-size 0
		height 0
		visibility hidden
.u-ellipsis
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
.u-arrow-up
	border-bottom 7px solid black
	border-left 7px solid transparent
	border-right 7px solid transparent
	height 0
	width 0
