// colors
.muted
	color color-muted

// inline positioning
.left-text
	text-align left
.center-text
	text-align center
.right-text
	text-align right

// misc
.clearfix
	// need it this way so we can extend the class
	&:after
		clear both
		content ' '
		display block
		font-size 0
		height 0
		visibility hidden
.ellipsis
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
.arrow-up
	border-bottom 7px solid black
	border-left 7px solid transparent
	border-right 7px solid transparent
	height 0
	width 0
